*.egg-info/

# Byte-compiled / optimized / DLL files
__pypackages__
__pycache__/



# node modules
**/*/node_modules/
node_modules
yarn.lock
package-lock.json

# Virtual environment
.venv/
build/
dist/

.idea/